<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <style>
      .center {text-align:center}
  </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron center">
            <h1>Mission to Mars</h1>
            <a class="btn btn-primary btn-lg center" href="/scrape" role="button">Scrape New Data</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <p><h4>Latest Mars News</h4></p>
            <p><h5>{{ mars.news_title }}</h5></p>
            <p><h6>{{ mars.news_teaser }}</h6></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h4>Featured Mars Image</h4>
        </div>
        <div class="col-md-4">
            <h5>Mars Facts</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <figure style="height: 40px; background-color: white; margin-top: 0px;">
                <img src='{{ mars.featured_img }}' width="600" align="left">
            </figure>    
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                  <!--<tr style="text-align: right;">
                    <th></th>
                    <th>Mars</th>
                  </tr>-->
                </thead>
                <tbody>
                  <tr>
                    <th>Equatorial Diameter:</th>
                    <td>6,792 km</td>
                  </tr>
                  <tr>
                    <th>Polar Diameter:</th>
                    <td>6,752 km</td>
                  </tr>
                  <tr>
                    <th>Mass:</th>
                    <td>6.39 × 10^23 kg (0.11 Earths)</td>
                  </tr>
                  <tr>
                    <th>Moons:</th>
                    <td>2 (Phobos &amp; Deimos)</td>
                  </tr>
                  <tr>
                    <th>Orbit Distance:</th>
                    <td>227,943,824 km (1.38 AU)</td>
                  </tr>
                  <tr>
                    <th>Orbit Period:</th>
                    <td>687 days (1.9 years)</td>
                  </tr>
                  <tr>
                    <th>Surface Temperature:</th>
                    <td>-87 to -5 °C</td>
                  </tr>
                  <tr>
                    <th>First Record:</th>
                    <td>2nd millennium BC</td>
                  </tr>
                  <tr>
                    <th>Recorded By:</th>
                    <td>Egyptian astronomers</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
        </div>
        <h4>Mars Hemispheres</h4>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            <figure style="background-color: white;">
                    <img src="{{ mars.hemisphere_img_cerberus }}" width="365px" align="left" style="margin-right: 20px">   
            </figure>        
            <figure style="background-color: white;">
                    <img src="{{ mars.hemisphere_img_schiaparelli }}" width="365px" align="left" style="margin-right: 20px">  
            </figure> 
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            <pre><h5>Cerberus Hemisphere Enhanced        Schiaparelli Hemisphere Enhanced</h5></pre> 
        </div> 
    </div> 
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            <figure style="background-color: white; margin-left: 10px;">
                    <img src="{{ mars.hemisphere_img_syrtis_major }}" width="365px" align="left" style="margin-right: 20px">  
                    <img src="{{ mars.hemisphere_img_valles_marineris }}" width="365px" align="left">  
            </figure>    
        </div> 
    </div>
    <div class="row"> 
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            <pre><h5>Syrtis Major Hemisphere Enhanced    Valles Marineris Hemisphere Enhanced</h5></pre> 
        </div> 
    </div> 

</body>

</html>    